= simple_form_for @goal do |f|
  .form-group= f.input :name
  .form-group= f.input :description
  #tasks
    - f.simple_fields_for :tasks do |task|
      = render 'task_fields', :f => task
    
    = link_to_add_association '+ add task', f, :tasks

  = f.submit