= link_to '< Back to goals', goals_path

%h1 test

%h3 Name
%p= @goal.decname

%h3 Description
%p= @goal.description

%h3 Tasks
- @goal.tasks.each do |task|
  %p= task.name
  %p= task.description
  %p= task.status
  %hr

%h3 Completed
= @goal.percentage

= link_to "+ New task", new_goal_task_path(@goal)